<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
  </head>
  <body>
    <script src="https://cdn.shopify.com/s/assets/external/app.js"></script>

    <script>
      window.apiKey = "<%= apiKey %>"
      window.shopOrigin = "https://<%= shop %>"

      const shopifyAppConfig = {
        apiKey: window.apiKey,
        shopOrigin: window.shopOrigin,
      }

      if ("<%= process.env.NODE_ENV %>" === 'development') {
        shopifyAppConfig.forceRedirect = false;
      }

      ShopifyApp.init(shopifyAppConfig);
    </script>

    <div id="root"></div>
    <script src="/assets/main.js"></script>
  </body>
</html>
